{{$data:= getJSON .Params.path}}
{{ if $data.js}}
{{range $data.js}}
<script src="{{.}}"></script>
{{end}}
{{end}}
{{ if .Site.Params.globalJs}}
{{range .Site.Params.globalJs}}
<script src="{{.}}"></script>
{{end}}
{{end}}
{{ if $data.inlineJs}}
{{range $data.inlineJs}}
<div>{{. | safeHTML}} </div>
{{end}}
{{end}}
{{ if .Site.Params.globalInlineJs}}
{{range .Site.Params.globalInlineJs}}
<div>{{. | safeHTML}} </div>
{{end}}
{{end}}

{{ if .Site.Params.gtm_id}}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{.Site.Params.gtm_id}}" height="0" width="0"
                style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{{end}}
<script defer="defer" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script defer="defer" src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
<link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        crossorigin="anonymous" referrerpolicy="no-referrer" />