{{$data:= getJSON .Params.path}}
{{ if $data.js}}
{{range $data.js}}
<script src="{{.}}"></script>
{{end}}
{{end}}
{{ if .Site.Params.globalJs}}
{{range .Site.Params.globalJs}}
<script src="{{.}}"></script>
{{end}}
{{end}}
{{ if $data.inlineJs}}
{{range $data.inlineJs}}
<div>{{. | safeHTML}} </div>
{{end}}
{{end}}
{{ if .Site.Params.globalInlineJs}}
{{range .Site.Params.globalInlineJs}}
<div>{{. | safeHTML}} </div>
{{end}}
{{end}}

{{ if .Site.Params.gtm_id}}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{.Site.Params.gtm_id}}" height="0" width="0"
                style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{{end}}
<script defer="defer" src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script defer="defer" src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
<!-- <link defer="defer" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" /> -->

{{ if .Site.Params.formSubmissionApi }}
<script>
        const forms = document.getElementsByClassName('site-forms')
        Array.from(forms).map(form => {
                form.addEventListener('submit', (e) => {
                        e.preventDefault()
                        let formName = e.target.dataset.name
                        let elements = e.target.elements
                        let formSubmissionInputs = []
                        Array.from(elements).map(element => {
                                if (element.dataset.type === 'submit') {
                                        formSubmissionInputs.push(element)
                                }
                        })
                        let formBody = {}
                        formSubmissionInputs.map(formInput => {
                                formBody[formInput.name] = formInput.value
                        })
                        let data = {
                                formId: e.target.id,
                                formName: formName,
                                formBody: formBody
                        }
                        fetch('{{.Site.Params.formSubmissionApi}}', {
                                method: 'POST',
                                headers: {
                                        'Content-Type': 'application/json',
                                },
                                body: JSON.stringify(data),
                        })
                                .then(response => response.json())
                                .then(data => {
                                        // console.log(e.target.dataset.successMessage)
                                })
                                .catch((error) => {
                                        // console.log(e.target.dataset.failedMessage)
                                });
                })
        })
</script>
{{ end }}